body {
    font-family: Arial, sans-serif;
}
.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
}
.oculto {
    display: none;
}
.container form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: auto;
}
label {
    width: 40%;
    margin-bottom: 30px;
}
input, select {
    padding: 8px;
}
input {
    width: 100%;
    box-sizing: border-box;
}
select {
    width: 100%;
}
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 40%;
    height: 60px;
}
button:hover {
    background-color: #45a049;
}
.result {
    margin-top: 20px;
    font-weight: bold;
}


.container-res {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
}
.result-group {
    margin-bottom: 15px;
}
.result-group label {
    width: 100%;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
.result-value {
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    width: 100%;
}

.info-icon {
    margin-left: 10px;
    cursor: pointer;
    position: relative;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

.tooltip-box {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: #333;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    z-index: 100;
    text-align: center; 
    transform: translateX(-50%); 
    pointer-events: none; 
}